*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

  }
  /* nav */
  nav{
background-color: #fff;
    padding: 0.2rem ;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
            rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
            rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
           rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
           rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
           rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset, ;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content:space-between ;
}
nav ul li {
    display: inline;
    border-radius: 0.5rem;
margin-top: 20PX;
}
nav ul li a {
    color: #000000;
text-decoration: none;
font-family: "Bebas Neue", sans-serif;

font-size: 20px;
padding: 0.1rem 0.2rem;    
display: block;
}

nav ul li a:hover{
    text-shadow: 0px 0px 10px blueviolet,
                 0px 0px 20px blueviolet,
                 0px 0px 40px blueviolet,
                 0px 0px 80px blueviolet;
border-radius: 20px;
transition: 0.7s;
background-color: transparent;
border-bottom: 4px pink groove;
}
nav ul img{
    border-radius: 40px;
}
  
    
/* csrf    */
.txt{
    -webkit-background-clip: text;
    background-image: url(../img/stone-3331916_1920.jpg);
    filter: grayscale(50px);
    color: transparent;
    background-size: contain;
    font-size: 50px;
position: absolute;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.twxt{
  -webkit-background-clip: text;
  background-image: url(../img/stone-3331916_1920.jpg);
  filter: grayscale(50px);
  color: transparent;
  background-size: contain;
  font-size: 85px;

}
.txt :hover{
  background-image: url(../img/digger-1867268_1920.jpg);
  -webkit-background-clip: text;
    color: transparent;
    background-size: contain;
    border-bottom: groove 3px  #fff05f;
    transform: matrix3d(20deg);
    transition: 0.7s;
    border-right: groove 3px #fff05f;

}
  .swiper {
    position: relative;
    background-size:cover ;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
.about{
  text-decoration: line-through;

}
.LINS h1{
  text-shadow: 0px 0px 10px rgb(190, 128, 165),
  0px 0px 20px rgb(109, 233, 0),
  0px 0px 40px rgb(222, 37, 37),
  0px 0px 80px rgb(178, 138, 176);

  text-align: center;
             text-decoration: underline;
text-decoration-color: rgb(122, 102, 65);
text-transform: capitalize;
font-size: 80px;
font-weight: 900;
border-bottom: rgb(122, 102, 65) solid 4px;
border-bottom-width:8px ;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
animation: text 8s 2;
}
@keyframes text {
  0%{
   margin-left: 40px;
   border-bottom: solid #fff05f 2px;
  border-bottom-width:11px ;
  }
  20%{
    margin-left: -40px;
    border-bottom:groove violet 3px;
  border-bottom-width:12px ;
   
  }
40%{
   margin-left: 60px;
   border-bottom: red solid 4px;
   border-bottom-width:10px ;

  }70%{
    margin-left: -60px;
    border-bottom: yellow groove 5px;
  border-bottom-width:9px ;
   
  }
   90%{
    margin-left: 4px;
    border-bottom: #e81cff solid 6px;
    border-bottom-width:15px ;
   
  }
  90%{
    margin-left: 4px;
    border-bottom: aqua solid 6px;
    border-bottom-width:4px ;
   
  }
}
.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
              rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
              rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
              rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset,
              rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: relative;
  width: 160px;
  height: 260px;
background: url(../img/dump-truck-482420_1920.jpg) ;
background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: -240px;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 170px;
  height: 270px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #000000 60%, #00ff11 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.info li{
font-size: 25px;
font-weight: 500;
font-style: oblique;
background-color: #d2d7d2;

}
.info-head{
  font-size: 35px;
  font-weight: 800;
  text-decoration: double;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
text-transform: uppercase;
}
.idm{
  position: absolute;
  margin-left: 90px;
  font-size: 55px;
  display: inline;
  margin: top 22px;
}
body{
background-image: url(../img/WhatsApp\ Image\ 2024-10-30\ at\ 12.20.58\ AM.jpeg);
object-fit: contain;
}
/* Footer Styles */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}
.ha:hover{
  color: #30e5c1;

}
.pe:hover{
  color: #d2d7d2;
}
.pe{
  color: #fff;
}

.footer-section ul {
  list-style-type: none;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
  }
  .swiper {
    height: 300px;
  }
  .about {
    height: 80vh;
  }
  .info {
    font-size: 16px;
  }
  .card {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .nav-bar {
    padding: 0.5rem;
  }
  .swiper {
width: 200px;
    height: 200px;
  }
  .about {
    height: 60vh;
  }
  .info {
    font-size: 14px;
  }
  .card {
    padding: 5px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .swiper-slide .img1  {
    height: 200px; 
width: 200px;
  }
  body{
    background-image: url(../img/istockphoto-1061786490-1024x1024.jpg);
    background-size: cover;
  }
.txt{
  text-align: center;
  font-size: 110%;
}
nav ul li a {
font-size:90%;
padding: 5px 0px 1px 3px;
margin-left: 10px;

}
nav ul {
  justify-content:space-between;
}

.about .img2 {
display: none;
}
.LINS h1{
  font-size: 140%;
}
.card{
  width: 50%;
  margin-top: 20px;
flex-wrap: wrap;
margin-left: 0%;
overflow-x: hidden;
}
.card #img3{
  display: none;
}

.logo {
width: 40px;
height: 40px;
}
nav ul p{
  font-size: 10px;
}
.idm{
  font-size: 28px;
  margin-top: -7px;
  margin-left: 175px;
}
.card{
  display: none;
}
.body{
background-image: url(../img/digger-1867268_1920.jpg);
  background-size: contain;
}
.txt h1{
  text-align: center;
  margin-left: 0px;
  font-size: 45px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: calc(1px);
}
#img4{
  display: none;
}
#img3{
  display: none;
}

.footer {
  flex-direction: column;
  text-align: center;
}

.footer-section {
  margin-bottom: 20px;
}
}
